#--------------------------------------------------
# Répertoire : /
#--------------------------------------------------

# Le serveur doit suivre les liens symboliques :
Options +FollowSymlinks

# Activation du module de réécriture d'URL :
RewriteEngine on

#--------------------------------------------------
# Règles de réécriture d'URL :
#--------------------------------------------------

# ROUTE DES POSTS -----------------------
  # LISTE DES POSTS
  # PATTERN: posts/
  # URL: index.php?posts=index
    RewriteRule ^posts([\/]*)$ index.php?posts=index [L]

  # AJOUT D'UN POST - FORMULAIRE
  # PATTERN: posts/addForm
  # URL: index.php?posts=addForm
    RewriteRule ^posts\/addForm$ index.php?posts=addForm [L]

  # AJOUT D'UN POST - INSERT
  # PATTERN: posts/add
  # URL: index.php?posts=add
    RewriteRule ^posts\/add$ index.php?posts=add [L]

  # SUPPRESSION D'UN POST
  # PATTERN: posts/delete/{id}
  # URL: index.php?posts=delete&id=x
    RewriteRule ^posts\/delete\/([1-9][0-9]*)$ index.php?posts=delete&id=$1 [L]


# --------------------------------------------------
RewriteCond %{REQUEST_URI} !\.(js|css|jpg|gif|zip|png|pdf)$ [NC]
RewriteRule ^(.*)$ index.php [L]
